body{
    background-color:#f0f2f5 ;
}
.first{
    margin-top: 20%;
    padding-left: 15%;
    padding-top: 20%;
}
h1 {
    font-size: 3em; 
  }
p{
    font-size: 1.5em; 
}

form{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
